* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);

  font-family: "Roboto Condensed", sans-serif;
}
header {
  height: 10vh;
  display: flex;
  .heading {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      letter-spacing: 4px;
    }
  }
  .logo {
    width: 10%;
    img {
      margin-left: 10px;
      height: 140%;
    }
  }
  .exit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 35px;
      font-family: "Roboto Condensed", sans-serif;
      background: #126cce;
      color: antiquewhite;
      border: 2px solid #126cce;
      border-radius: 5px;
      font-size: 15px;
      margin-right: 20px;
      margin-top: 10px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        border: 1px solid antiquewhite;
      }
    }
  }
}
main {
  height: 90vh;
  margin-top: 4vh;
  .page {
    display: flex;
    width: 100%;
    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh;
      width: 24%;
      border: 2px solid white;
      margin: 1%;
      h3 {
        margin-bottom: 10px;
      }
      img {
        width: 70%;
        height: 40%;
      }
      a {
        padding: 5px 10px;
        background: #126cce;
        color: antiquewhite;
        text-decoration: none;
        margin-top: 20px;
        border-radius: 5px;
      }
    }
  }
}
