* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);

  font-family: "Roboto Condensed", sans-serif;
}
header {
  height: 10vh;
  display: flex;
  .heading {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      letter-spacing: 4px;
    }
  }
  .logo {
    width: 10%;
    img {
      margin-left: 10px;
      height: 140%;
    }
  }
  .exit {
    width: 10%;}
}
main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    height: 60%;
    border-radius: 25px;
    h1 {
      margin: 30px 0px;
      text-align: center;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 500px;
      .names {
        margin-bottom: 30px;
        width: 90%;
        input {
          width: 70%;
          margin-left: 10px;
          height: 35px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid white;
        }
      }
      .pass {
        width: 90%;
        input {
          width: 70%;
          margin-left: 27px;
          height: 35px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid white;
        }
      }
      input[type="submit"] {
        margin-top: 30px;
        width: 100px;
        height: 45px;
        font-family: "Roboto Condensed", sans-serif;
        background: #126cce;
        color: antiquewhite;
        border: 2px solid #126cce;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          border: 1px solid antiquewhite;
        }
      }
    }
  }
}
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
