<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <title>Health Monitor</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <header>
        <div class="logo"><img src="..//static/images/hert.png" alt="logo"></div>
        <div class="heading"><h1>HEALTH MONITOR</h1></div>
        <div class="exit"></div>
</header>
    <main><div class="container">
        <h1>LOGIN</h1>
        <form action="/login" method="post">
        <div class="names">
        <label for="name">User Name</label>
        <input type="text" name="name" placeholder="User Name" required></div>
        <div class="pass">
        <label for="name">Passkey</label>
        <input type="password" name="pwd" placeholder="Passkey" required></div>
        <input type="submit" value="LOGIN">
    </form></div></main>
    <footer><h4>Vignesh Rajamani | M.Kumarasamy College of Engineering,Karur</h4></footer>
</body>
</html>